*{
    padding: 0px;
    margin: 0px;
}
/* Container class for specific width */
.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
}
/* Navbar */
.navbar-container{
    border-bottom: 1px solid rgba(0,0,0,0.07);
}
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}